
/* Major Sections of the website. */
body{
    margin:0px;
    font-family: sans-serif
}

div{
    /* border:1px solid purple */
    
}




/* Links Styliing */
a:link {
    color: unset;
    text-decoration: none;
  }
  
  a:visited {
    color:unset;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(254, 0, 0);
    text-decoration:none;
  }
  
  a:active {
    text-decoration: none;
  }

/* Nav Bar Specific Style */
ul{

}

li{ display:inline
}

nav{
    background-color: black;
    position: sticky;
    top:0px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px;
    font-family: 'Electrolize', sans-serif;
    font-size: 2em;
    color: white;

}
.navList{
    margin: 0px 20px;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    column-gap: 40px;
    justify-content:right;
    list-style-type: none;
}

.malText{
    grid-area: 1 / 1 / 2 / 2;

    font-weight: 800;

}

/* Company Title and about Us  */
.home-title{
    display: flex;
    margin:20px
}



.home-games{
    margin:20px;
}

.home-games-list{
    margin:0px;
    padding:0px;
}

.game-container{
    display: flex;
}

.gameTitle{
    font-family: 'Electrolize', sans-serif;
    font-size: 2em;
}
.game-Text{

}
.gameDescription{

}

.home-subscribe{
    margin:20px
}
